---
const pageTitle = "Sobre mi";

const identity = {
    firstName: "Benjamin",
    country: "Argentina",
    carrer: "Ingeniería en Computación",
    occupation: "Programador",
    hobbies: ["tocar la guitarra", "jugar videojuegos", "salir a correr"],
};

const skills = ["C++", "Java", "Python", "JavaScript", "HTML", "CSS", "Astro", "Adobe Premiere", "Reaper", "FL Studio", "SQL"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

import '../styles/global.css';
import Navigation from '../pages/components/Navigation.astro';
import Footer from '../pages/components/Footer.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
                color: rgb(0, 66, 128);
                font-size: 4rem;
            }
            .skill {
                /*color: var(--skillColor);*/
                /*font-weight: var(--fontWeigth);*/
                /*text-transform: var(--textCase);*/
                background-color: #007bff;
                color: #ffffff;
                display: inline-block;
                padding: 5px 10px;
                border-radius: 5px;
                margin-right: 10px;
            }

            p {
                color: #555;
                line-height: 1.6;
            }

            ul {
                list-style-type: none;
                padding: 0;
            }

            li {
                margin-bottom: 10px;
            }

        </style>
	</head>
	<body>
        <Navigation />

		<h1>{pageTitle}</h1>
        <h2>... ¡y mi nuevo sitio Astro!</h2>
        <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>
        <p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>
        <p>Un poco sobre mí:</p>
        <ul>
            <li>Me llamo {identity.firstName}.</li>
            <li>Vivo en {identity.country} y estudio {identity.carrer}.</li>
            {identity.hobbies.length >= 2 && //La condición determiná si se mostraran los hobbies. Si hubiera menos de 2 hobbies no se mostrarían.
                <li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
            }
        </ul>
        <p>Mis habilidades son:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>¡Estoy feliz de aprender Astro!</p>}

        {finished && <p>¡He terminado este tutorial!</p>}

        {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
        <Footer />
	</body>
</html>
